.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: #000000;
  border: 1px solid #ffffff;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}