.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .profile__picture {
    margin: 0;
  }
}