.element__like-button {
  text-decoration: none;
  outline: none;
  border: 0;
  background-color: white;
}

.element__like-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.element__like-button:active {
  opacity: 100%;
  background-image: url("../../../images/like\(filled\).svg");
  background-repeat: no-repeat;
  background-position: center;
}